.searched-elem{
    /* background-color: brown; */
    margin-left: 5rem;
    margin-top: 6rem;
    width: 47rem;
    border: #cecaca solid 1px;
    background: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: normal;
    gap: 2rem;
    height:10rem;
}
.mainpage{
    display: flex;
    
}